electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
puppeteer_skip_chromium_download=true
unsafe-perm=true
